fixtures/test_model_atom_ref.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.editeur.org/onix/2.1/reference" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.editeur.org/onix/2.1/reference" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:complexType name="nameForTest">
    <xs:simpleContent>
      <xs:extension base="List82">
        <xs:attribute name="refname" type="xs:NMTOKEN" fixed="BibleContents" />
        <xs:attribute name="shortname" type="xs:NMTOKEN" fixed="b352" />
        <xs:attributeGroup ref="generalAttributes" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
